{%extends 'index.html'%} {%load static%} {%block content%}
<h3 class="text-muted">Reported Issues</h3><br><br>
<div class="row">
    <div class="col-md-4 col-sm-6 grid-margin">
        <a href="MANReportedissueTrainees" style="text-decoration: none;color: white;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h2 class="mb-0">Trainees</h2>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <i class="icon-lg mdi mdi-human-male-male text-primary ms-auto"></i>
                        </div>
                    </div>
                </div>
        </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 grid-margin">
        <a href="MANReportedissueTrainer" style="text-decoration: none;color: white;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h2 class="mb-0">Trainer</h2>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <i class="icon-lg mdi mdi-human-male text-primary ms-auto"></i>
                        </div>
                    </div>
                </div>
        </a>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 grid-margin">
        <a href="MANReportedissueProjectManager" style="text-decoration: none;color: white;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h2 class="mb-0">Project Manager</h2>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <i class="icon-lg mdi mdi-human-male text-info ms-auto"></i>
                        </div>
                    </div>
                </div>
        </a>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 grid-margin">
        <a href="MANReportedissueTeamLeader" style="text-decoration: none;color: white;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h2 class="mb-0">Team Leader</h2>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <i class="icon-lg mdi mdi-human-male text-danger ms-auto"></i>
                        </div>
                    </div>
                </div>
        </a>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 grid-margin">
        <a href="MANReportedissueDevelopers" style="text-decoration: none;color: white;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                                <h2 class="mb-0">Developers</h2>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <i class="icon-lg mdi mdi-human-male-male text-danger ms-auto"></i>
                        </div>
                    </div>
                </div>
        </a>
        </div>

        {% endblock %}