{%extends 'index.html'%} {%load static%} {%block content%}
<h3 class="text-muted">Developers</h3><br>
<div class="row">
    <div class="col-sm-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="align-items-center">
                            <h3 class="mb-0">Report Issue</h2><br>
                                <h4>Developer</h4>
                                <h5>EM-IDINFOX112</h5>
                                <i class="icon-lg mdi mdi-file-document text-danger ms-auto"></i>

                        </div>
                    </div>

                    <div class="col-md-8">

                        <h5>An Issue Report is first created when capturing an issue and can then be updated after the issue has been examined and when proposals are identified for issue resolution.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5>Solved the Issue for An Issue Report is first created when capturing an issue and can then be updated after the issue has been examined and when proposals are identified for issue resolution.</h5>
                    </div>
                    <div class="col-md-4">
                        <div class="align-items-center">
                            <h3 class="mb-0">Actions Taken</h3>
                            <h4>Manager</h4>
                            <i class="icon-lg mdi mdi-file-document text-success ms-auto"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}